* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 0 auto;
    width:100%;
    
}

button{
    padding: .6rem;
    margin: 1rem;
}

.container{
    background: url(../img/jumbo.png) no-repeat center center; background-size:cover;
    height: 500px;
}

nav.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.flex{
    display: flex;
    align-items: center;
    padding: 1rem;
}

ul li {
    display: inline-block;
    margin: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
}

div.intro{
    text-align: center;
    padding-top: 4rem;
    width: 50%;
    margin: 0 auto;
}

.intro > h1 , p {
    color: white;
    padding: 1rem 0;
}

div.section{
    width:100%;
    height: 25rem;
    border: 1px solid red;
    padding: 0 12rem;
}


div.image{
    width: 60%;
    height: 80%;
    background-color: turquoise;

}


div.text{
    width: 40%;
    background-color: rgb(6, 6, 6);
    height: 80%;

}

/* div.bg {
    
}
     */

.description {
    padding-top: 2rem;
    text-align: center;

}
.description p {
    color: #23272A;
    text-align: center;
    
}


.call_to_action {
    text-align: center;
    padding: 1rem;
    background: url(../img/stars.svg) no-repeat center center;
}


.flex_footer{
    display: flex;
}


footer{
    margin-top: 3rem;
    width:100%;
    height: 600px;
    background-color: #23272A;
    padding: 3rem 12rem;
}


footer p,ul li{
    color:#ffffff;
}




footer h3{
    color:#7289DA;
}

.social_menu ,
.product_menu ,
.company_menu ,
.resurces_menu ,
.name_menu {

    flex-direction: column;
    margin: 1rem;
}


.flex_ul li {
    display: flex;
    flex-direction: column;

}

.social_menu {
    width: 40%;
    align-items: flex-start;
}


.product_menu {
    width: 15%;
    
    
}

.company_menu {
    width: 15%;
    
}

.resurces_menu {
    width: 15%;
    
}

.name_menu {
    width: 15%;
    
}


div.sub_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}